/* Status Bar CSS */

.status-bar {
  display: flex;

  /* CSS HACK : 시간을 가운데로 놓는 방법 */
  justify-content: center;

  padding: 5px 3px;

  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

/* CSS HACK : 시간을 가운데로 놓는 방법 */
.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

/* CSS HACK : 시간을 가운데로 놓는 방법 */
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

/* CSS HACK : 시간을 가운데로 놓는 방법 */
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0 5px;
}
